<div class="grid-container">
  <h2 class="mat-h2">Health Dashboard</h2>
  <mat-grid-list cols="2" color="primary" rowHeight="350px">
    <mat-grid-tile color="primary" *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="card-title-group">
            <mat-card-subtitle>
              <img mat-card-lg-image src="{{getHealthSrc(pollingData[card.name])}}"
                alt="{{getHealthMessage(pollingData[card.name])}}">
            </mat-card-subtitle>
            <mat-card-subtitle>
              {{getHealthMessage(pollingData[card.name])}}
            </mat-card-subtitle>

            <!-- {{pollingData[card.name]}} -->
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>